[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytest = "*"
nox = "*"
jupyter = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
google-api-python-client-stubs = "*"
fastapi = "*"
uvicorn = "*"
fastapi-users = {extras = ["oauth", "sqlalchemy"], version = "*"}
asyncpg = "*"
okta = "*"
pandas = "*"
jupyterlab = "*"
pyarrow = "*"
fastparquet = "*"
dask = "*"
tzlocal = "*"
matplotlib = "*"
aioyagmail = "*"
sentry-sdk = {extras = ["fastapi"], version = "*"}
alembic = "*"
pydantic-factories = "*"
sqlmodel = "*"
